.container {
  width: 1200px;
  position: relative;
}
.headerContainer {
  position: absolute;
  width: 1200px;
}
.imgContainer {
  width: 1204px;
  height: 500px;
  padding-top: 5.95rem;
}
.imgBox {
  height: 500px;
  background-image: url("../../public/BabyFeet.jpg");
  background-size: cover;
}
