.container {
  height: fit-content;
  width: 100vw;
}
.subContainer1 {
  margin: 30vh 0 30vh 0;
  width: inherit;
  height: 60vh;
  background-color: rgba(147, 52, 102, 0.17);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.subsubCont {
  max-width: 100rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 5vw 0 5vw;
}
.subContainer2 {
  width: inherit;
  height: 60vh;
  margin: 30vh 0 30vh 0;
  background-color: #e2e2e2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.subsubCont2 {
  max-width: 100rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* pink div */

.title {
  font-family: "Beau Rivage";
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 129px;
  color: #933466;
  margin: 6rem;
}
.bioPara {
  font-family: "Angkor";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
  margin-right: 3rem;
  color: rgba(35, 31, 32, 0.72);
}

/* middle */

.title2 {
  display: flex;
  margin: 0.1rem;
  justify-content: center;
  font-family: "Angkor";
  font-style: normal;
  font-weight: 400;
  font-size: 70px;
  line-height: 87px;
  color: #933466;
}

/* grey div */

.quoteContainer {
  height: 25vh;
  width: 40vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-top: 2px #d2d2d2 solid;
  border-bottom: 2px #d2d2d2 solid;
}
.quote {
  font-family: "Angkor";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 43px;
  text-align: center;
  color: #ffffff;
}
.subContainer2 p {
  font-family: "Angkor";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
  color: #565656;
  margin: 3rem;
}

.copyRight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Alumni Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  color: #000000;
}
