.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;
  height: 700px;
}
.img {
  margin: auto;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background-image: url("../../public/Profile.jpeg");
  background-size: cover;
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  width: 500px;
  height: 500px;
}
.title h1 {
  font-family: "Alumni Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 96px;
  line-height: 115px;
  color: #000000;
}
.title p {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 268px;
  height: 76px;
  font-family: "Alumni Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  color: #ffffff;
  background: #933466;
  border-radius: 10px;
}
