.cont {
  width: 1200px;
}
.img {
  background-image: url("../../public/Services.jpg");
  background-size: cover;
  height: 500px;
}
.imgCont {
  width: 1204px;
  height: 500px;
  padding-top: 5.87rem;
}
.headerCont {
  position: absolute;
  width: 1200px;
}
.sectTitleCont {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 208px;
  background: #fcd9df;
  font-family: "Alumni Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 96px;
  line-height: 115px;
  color: #933466;
}
