.cont {
  width: 1200px;
}
.img {
  background-image: url("../../public/Services.jpg");
  background-size: cover;
  height: 500px;
}
.imgCont {
  width: 1204px;
  height: 500px;
  padding-top: 5.87rem;
}
.headerCont {
  position: absolute;
  width: 1200px;
}
