.main {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.container {
  width: 100vw;
  position: relative;
  display: flex;
  justify-content: center;
}
.headerContainer {
  position: absolute;
  width: 75vw;
}
.imgContainer {
  width: 100vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5.95rem;
}
.img {
  height: 50vh;
  width: 100vw;
  background-image: url("../../public/Services.jpg");
  background-size: cover;
}
/*









*/
.sectTitleCont {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 208px;
  width: 100vw;
  background: #fcd9df;
  font-family: "Alumni Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 96px;
  line-height: 115px;
  color: #933466;
}
