
.subcontainer {
    width: inherit;
    height: 115px;
    border: 1px solid #D2D2D2;
}
.semicircle {
    margin: auto;
    margin-bottom: -190px;
    height: 189px;
    width: 400px;
    border-radius: 0px 0px 30rem 30rem;
    border: 1px solid #D2D2D2;
}
.logo {
    position: relative;
}